<section class="gallery">
    <div class="pure-g">
      <div class="square pure-hidden-md pure-hidden-sm pure-hidden-xs">
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/akinda.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/bagnolsblues.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/bureaucrazy.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/cubits.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/datamachina.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/diaspora.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/kingsandqueen.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/underwater.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/vocable.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/futureoffood.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/andjoy.png">
        </div>
        <div class="pure-u-md-4-24">
          <img class="pure-img" src="img/futureperfect.png">
        </div>
      </div>
      <div class="pure-hidden-lg pure-hidden-xl">
        <div class="pure-u-1">
          <img class="pure-img" src="img/akinda-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/bagnolsblues-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/bureaucrazy-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/cubits-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/datamachina-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/diaspora-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/kingsof-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/underwater-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/vocable-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/futureoffood-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/andjoy-cover.png">
        </div>
        <div class="pure-u-1">
          <img class="pure-img" src="img/futureperfect-cover.png">
        </div>
      </div>
    </div>
  </section>